@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #f2f1f6;

  color: #01004c;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.y-h-header.is-open .y-h-header-background {
  left: 0;
}
.y-h-header-button-wrapper {
  margin-left: auto;
}
.y-h-header-icon {
  display: none;
}

.y-h-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.y-h-navigation-list.is-open {
  right: 0;
}
.y-h-header-icon-menu {
  display: block;
}

.y-h-header-icon-button.is-open .y-h-header-icon-menu {
  display: none;
}

.y-h-header-icon-button.is-open .y-h-header-icon-close {
  display: block;
}

.y-h-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: #cacae5;
}

.y-h-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #cacae5;
}
.y-h-header.is-open .y-h-header-background {
  left: 0;
}
.y-h-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.y-h-header-icon-menu {
  display: block;
}

.y-h-header-icon-button.is-open .y-h-header-icon-menu {
  display: none;
}

.y-h-header-icon-button.is-open .y-h-header-icon-close {
  display: block;
}

.y-h-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.y-h-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 16px;

  gap: 12px;
  background: #cacae5;
}

.y-h-navigation-list.is-open {
  right: 0;
}

.y-h-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #01004c;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
}

.y-h-navigation-link:hover,
.y-h-navigation-link:focus {
  color: #7c55ff;
}

.y-h-header.is-open {
  background-color: transparent;
}

.y-h-navigation-img {
  display: none;
}

@media screen and (min-width: 1204px) {
  .y-h-navigation-img {
    display: flex;
    margin-right: 160px;
  }
  .y-h-header-icon-title {
    display: none;
  }
  .y-h-header-button-wrapper {
    display: none;
  }
  .y-h-header {
    width: 100%;
    height: 96px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px 4px 10px 0px #f7f7f94d;
  }

  .y-h-header-background {
  }
  .y-h-header-icon-button {
    display: none;
  }
  .y-h-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .y-h-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .y-h-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .y-h-navigation-item-desk {
    display: none;
  }
}
.y-h-home {
  width: 375px;
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40068.png");
  margin: auto;
}
.y-h-home-container {
  width: 375px;
  padding: 116px 16px 0px;
  margin: auto;
}

.y-h-home-container-top {
  display: flex;
  flex-direction: column;
}

.y-h-home-title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.y-h-home-title-span {
  color: #2aafeb;
}

.y-h-home-text {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 24px 0 374px;
}
.y-h-home-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #616090;
  padding: 0 0px 24px;
}

.y-h-home-link {
  box-shadow: -3px 3px 0px 0px #01004c;
  background: #008fcf;

  width: 343px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;

  text-decoration: none;
  text-align: center;
  display: block;
  transition: all 0.3s ease-in-out;

  border-radius: 12px;
}

.y-h-home-link:hover {
  background: #4cb1dd;
  box-shadow: -5px 5px 0px 0px #01004c;
}

@media screen and (min-width: 1204px) {
  .y-h-home {
    width: 1440px;
    height: 742px;
    background-image: url("/img/home/Frame\ 40069.png");
  }
  .y-h-home-container {
    width: 1440px;
    padding: 184px 72px 0px 732px;
  }
  .y-h-home-container-top {
    display: flex;
    flex-direction: column;
  }

  .y-h-home-title {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .y-h-home-title-span-two {
    text-align: right;
    padding-left: 430px;
  }
  .y-h-home-text {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 48px 0 24px;
  }
  .y-h-home-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0 0px 48px;
  }

  .y-h-home-link {
    width: 306px;

    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}
.y-h-about {
  width: 375px;
  padding: 80px 0px 0px;
  margin: auto;
}
.y-h-about-container {
  margin: auto;
  height: 617px;
  width: 352px;
  background-image: url("/img/Frame\ 40022.png");
}
.y-h-about-title {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.y-h-about-title-text {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  color: #7c55ff;
  padding-top: 40px;
}
.y-h-about-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 255px;
}

@media screen and (min-width: 1204px) {
  .y-h-about {
    width: 1440px;
    padding: 116px 72px 0;
  }
  .y-h-about-container {
    width: auto;
    height: 524px;

    background-image: url("/img/Frame\ 40022\ \(1\).png");
  }
  .y-h-about-title {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .y-h-about-title-text {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 56px;
  }
  .y-h-about-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    width: 636px;
    padding-top: 24px;
    gap: 24px;
  }
}

.y-h-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}
.y-h-why-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.y-h-why-item {
  height: 85px;
  padding: 15px;
  border-radius: 12px;
  background: #ffffffb2;
  border: 1px solid #01004c;
  box-shadow: -3px 3px 0px 0px #01004c;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.y-h-why-item-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  color: #616090;
  padding-top: 8px;
}
.y-h-about-text-why {
  padding-top: 20px;
}
@media screen and (min-width: 1204px) {
  .y-h-why-container {
    width: 1440px;
    padding: 116px 72px 0;
  }
  .y-h-why-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .y-h-why-item {
    width: 306px;
    height: 118px;

    padding: 23px;
    border-radius: 12px;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .y-h-why-item-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;

    padding-top: 16px;
  }
  .y-h-about-text-why {
    padding-top: 24px;
    width: auto;
  }
}

.y-h-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.y-h-how-list {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  gap: 12px;
}

.y-h-how-item {
  background: #ffffffb2;
  border: 1px solid #01004c;
  box-shadow: -3px 3px 0px 0px #01004c;
  width: 343px;
  height: 106px;

  padding: 15px;
  border-radius: 12px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.y-h-how-item-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #616090;
  padding-top: 8px;
}

@media screen and (min-width: 1204px) {
  .y-h-how-container {
    width: 1440px;
    padding: 116px 72px 0;
  }
  .y-h-how-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 24px;
    gap: 24px;
  }

  .y-h-how-item {
    width: 416px;
    height: 142px;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 23px;
    border-radius: 12px;
  }
  .y-h-how-item-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.y-h-characters-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.y-h-characters-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.y-h-characters-item {
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-radius: 12px;
  background: #ffffff1a;
  border: 1px solid #01004c;
  box-shadow: -3px 3px 0px 0px #01004c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.y-h-characters-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #616090;
  padding-top: 4px;
}
.y-h-characters-img {
  width: 32px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1204px) {
  .y-h-characters-container {
    margin: auto;
    width: 1440px;
    padding: 116px 72px 0;
  }
  .y-h-characters-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .y-h-characters-item {
    width: 416px;
    height: 190px;
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-radius: 12px;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .y-h-characters-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 8px;
  }
  .y-h-characters-img {
    width: 40px;
    margin-bottom: 24px;
  }
}

.y-h-cases-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}

.y-h-cases-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.y-h-cases-item {
  background: #ffffffb2;
  border: 1px solid #01004c;
  width: 343px;
  height: 104px;

  padding: 15px;
  border-radius: 12px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1204px) {
  .y-h-cases-container {
    width: 1440px;
    margin: auto;
    padding: 116px 72px 0;
  }

  .y-h-cases-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .y-h-cases-item {
    width: 416px;
    height: 138px;
    padding: 23px;
    border-radius: 12px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.y-h-reviews-container {
  margin: auto;
  padding: 80px 16px 0px;
  width: 375px;
}
.y-h-reviews-list {
  padding-top: 20px;
}
.y-h-reviews-lists {
  display: none;
}
.y-h-reviews-item {
  box-shadow: -3px 3px 0px 0px #01004c;
  background: #ffffff03;

  background: #ffffff03;
  width: 343px;
  height: 181px;

  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  border-radius: 12px;
  margin: 5px 10px;
}

.y-h-reviews-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  height: 120px;
}

.y-h-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  color: #616090;
  padding-top: 8px;
}

@media screen and (min-width: 1204px) {
  .y-h-reviews-container {
    margin: auto;
    padding: 116px 72px 0px;
    width: 1440px;
  }

  .y-h-reviews-list {
    display: none;
  }
  .y-h-reviews-lists {
    display: flex;
    padding-top: 24px;
    flex-wrap: wrap;
    gap: 24px;
  }
  .y-h-reviews-item {
    width: 416px;
    height: 238px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    border-radius: 12px;

    margin: 0px;
  }

  .y-h-reviews-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    height: 150px;
  }

  .y-h-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;

    padding-top: 16px;
  }
}

.y-h-faq-container {
  padding: 80px 16px 0px;
  width: 375px;
  margin: auto;
}
.y-h-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.y-h-faq-item {
  border: 1px solid #01004c;
  background: #ffffffb2;

  padding: 15px;

  border-radius: 12px;
}

.y-h-faq-question {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;

  height: 64px;
}

.y-h-faq-answer {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.y-h-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.y-h-toggle-button img {
  transition: transform 0.3s ease;
  width: 32px;
}
.y-h-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.y-h-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.y-h-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1204px) {
  .y-h-faq-container {
    padding: 116px 72px 0;
    width: 1440px;
    margin: auto;
  }
  .y-h-faq-list {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 24px;
  }

  .y-h-faq-item {
    width: 416px;

    padding: 23px;
  }

  .y-h-faq-question {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .y-h-faq-answer {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.y-h-contact-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}
.y-h-contact-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 20px;
}
.y-h-contact-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.y-h-contact-item {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  display: flex;
  gap: 8px;
  align-items: start;
}

.y-h-contact-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  color: #01004c;
  text-decoration: none;
  padding-top: 2px;
}
@media screen and (min-width: 1204px) {
  .y-h-contact-container {
    width: 1440px;
    margin: auto;
    padding: 116px 72px;
  }
  .y-h-contact-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 24px;
  }
  .y-h-contact-list {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .y-h-contact-item {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    gap: 12px;
  }

  .y-h-contact-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 0;
  }
}

.y-h-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-h-container h1 {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 24px;
}

.y-h-container h2 {
  margin-top: 20px;

  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-h-container h3 {
  margin-top: 20px;
}

.y-h-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.y-h-container ul li {
  margin-bottom: 10px;
}
.y-h-container p {
  margin-top: 10px;
}
.y-h-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.y-h-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1204px) {
  .y-h-container {
    padding: 168px 72px 116px;
    width: 1440px;
    margin: auto;

    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-h-container h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .y-h-container h2 {
    margin-top: 20px;

    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-h-container h3 {
    margin-top: 20px;

    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-h-container ul {
    margin-top: 20px;
  }

  .y-h-container ul li {
    margin-bottom: 10px;
  }
  .y-h-container p {
    margin-top: 20px;
  }
}

.y-h-footer-container {
  width: 375px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;

  gap: 12px;
  background: #cacae5;
}

.y-h-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.y-h-footer-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.y-h-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #01004c;
  text-decoration: none;
}

@media screen and (min-width: 1204px) {
  .y-h-footer-container {
    width: 1440px;
    padding: 24px;

    gap: 16px;
  }

  .y-h-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }

  .y-h-footer-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .y-h-footer-copyright {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.y-h-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 16px;
  background: #ffffff;

  z-index: 1000;
  display: none;
}

.y-h-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-h-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.y-h-cookie-button {
  border: none;
  background-color: transparent;
  width: 128px;

  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 12px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #2e351b;
  box-shadow: -3px 3px 0px 0px #01004c;
  border: 2px solid #006ebb;
  background: #ffffff03;
}

#accept-cookies {
  color: #f7f7f9;
  background: #008fcf;
  box-shadow: -3px 3px 0px 0px #01004c;
}

.y-h-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.y-h-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 1204px) {
  .y-h-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 460px;
  }

  .y-h-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    width: 547px;
  }

  .y-h-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .y-h-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 30px;
    display: none;
  }
  .y-h-cookie-button {
    width: 183px;

    padding-top: 12px;
    padding-bottom: 12px;
    border-width: 2px;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
